html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .hero {
    background-image: linear-gradient(to right, rgba(255, 204, 0, 0.5), rgba(255, 204, 0, 0.3));
    position: relative;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 204, 0, 0.5);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }
  
  .hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 204, 0, 0.3);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .navbar-item:hover {
    text-decoration: underline;
  }
  
  .input, .button {
    border-radius: 25px;
  }

.autocomplete-suggestions {
  position: absolute;
  width: calc(100% - 20px);
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
}

.suggestion {
  padding: 8px 10px;
  cursor: pointer;
}


.suggestion:hover {
  background-color: #f0f0f0;
}
.autocomplete-suggestions {
  display: none;
}

.no-suggestions {
  
}
