* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

nav{
  box-shadow: 0 10px 30px rgba(135, 98, 98, 0.132);
  background: #eb6b16;
  position: absolute;
  width: 100%;
  top: 0;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100;
  border-radius: 10px;
}
nav img{
  width: 320px;
}

nav a{
  padding: 9px 25px;
  padding-right: 35px;
  border-radius:  5px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  display: inline-block;
}
nav a::after{
  content: "";
  width: 0%;
  height: 2px;
  background: #000000;
  margin: auto;
  display: block;
  transition: 0.5s;
}

nav a:hover::after{
  width: 100%;
}



.shapes{
  width: 100%;
  position: fixed;
  top: 100px;
  height: 120%;
}


.wel_text{
  position: absolute;
  padding: 29px;
  display: inline;
  top: 210px;
  left: 210px;
  text-align: center;
}
h1{
  font-weight: 1000;
}
p{
  padding: 10px;
  font-weight: 400;
}
form{
  background: #bca2a2;
  width: 607px;
  height: 71px;
  position: absolute;
  left: 360px;
  top: 360px;
  border-radius: 10px;
}
form input{
  background: #f6f4f4;
  position: relative;
  border-radius: 5px;
  width: 192px;
  height: 26px;
  top: 23px;
  left: 22px;
  border: none;
  padding-left: 10px;
}

form button{
  background:#eb6b16;
  padding: 9px 25px;
  border: none;
  border-radius: 5px;
  position: relative;
  top: 22px;
  left: 70px;
  color: #ffffff;
  cursor: pointer;
}
form i{
  position: absolute;
  top: 30px;
}
form p{
  position: absolute;
  display: inline;
  top: 8px;
  padding: 0;
  padding-left: 10px;
}
footer {
  background: #eb6b16;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 560px;
  padding: 10px 0;
}